
@{
    ViewData["Title"] = "Import";
}

<h2>Import</h2>

<p>
    @ViewData["ImportMessage"]
</p>

<p>
    <a asp-controller="Colleges" asp-action="Maintenance">Return to College Maintenance</a>
</p>
