
@{
    ViewData["Title"] = "Maintenance";
}

<h2>Maintenance</h2>
<p>
    <a asp-controller="Colleges" asp-action="Index">Maintain Colleges</a>
</p>
<p>
    <a asp-controller="DegreeTypes" asp-action="Index">Maintain Degree Types</a>
</p>
<p>
    <a asp-controller="CollegeTypes" asp-action="Index">Maintain College Types</a>
</p>
<form asp-controller="Colleges"  asp-action="Import" method="get">
    <div class="form-actions no-color">
        <p>
            College Data Provider: <input type="text" name="Source" />
            Data Version: <input type="text" name="Version" />
            <input type="submit" value="Import" class="btn btn-default" /> 
        </p>
    </div>
</form>
